language: c
dist: bionic

#compiler:
#  - gcc

services:
- redis
- mysql
- rabbitmq
- mongodb

arch:
#  - amd64
  - arm64
  - ppc64le
  - s390x

os:
  - linux

before_install:
  - mysql -e 'CREATE DATABASE myapp_test;'
  
script:
    - uname -a
    - echo TRAVIS_ARCH = $TRAVIS_ARCH
    - cat /etc/resolv.conf
    - python --version
    - pip -V
    #- cat /etc/os-release
    #- uname -a
    #- sudo apt update && sudo apt upgrade -y
    #- cat /etc/os-release
    - ruby -v
    - php -v
    - java -version
    -  ps auxwf
#    - pip install --disable-pip-version-check --user six flake8 hacking
