dist: bionic
language: generic
# jdk: "openjdk11"

arch:
- arm64
- s390x
- ppc64le
- amd64
# arch: amd64

script:
- ruby -v
# - pip3 install -IU "docker-compose==1.25.1" --user
- docker-compose -v
# - __dots() { while true ; do echo -en . ; sleep 30 ; done } ; __dots &
# - sleep 6000
# - gradle assemble
# - mvn test -B
# jobs:
#   include:
#     # main profile
#     - if: type in (pull_request, push)
#       stage: compile
# #       script: ./tools/travis_controller.sh compile
#       script:
#       - java -version
#       env: PROFILE="-Dhadoop.version=2.8.3 -Dinclude_hadoop_aws -Dscala-2.11"
#       name: compile
#       arch: arm64



# language: ruby
# dist: xenial

# #compiler:
# #  - gcc

# cache:
#   directories:
#     - /home/travis/.cache/
     
# # services:
# # - redis
# # - mysql
# # - rabbitmq
# # - mongodb
# # - postgresql

# # arch:
# #   - amd64
# #   - arm64
# #   - ppc64le
# #   - s390x

# os:
#   - linux

# #before_install:
# #  - mysql -e 'CREATE DATABASE myapp_test;'
  
# script:
# - sudo apt update
# - apt download linux-image-4.4.0-140-generic
# # - sudo chown _apt /var/lib/update-notifier/package-data-downloads/partial/; sudo apt-get download apache2
# - sudo apt install libreoffice -y
# - cat /proc/cpuinfo
# - env | grep TRAVIS_APT_PROXY
# - cat /etc/apt/apt.conf.d/99-travis-apt-proxy
# # #    - ls /home/travis/.cache/
# # #    - dd if=/dev/zero of=/home/travis/.cache/testfile2-$(uname -m) bs=1G count=1 oflag=direct
# # #    - uname -a
# # #    - echo TRAVIS_ARCH = $TRAVIS_ARCH
# # #    - cat /etc/resolv.conf
# #     - python --version
# #     - pip -V
# #     #- cat /etc/os-release
# #     #- uname -a
# #     #- sudo apt update && sudo apt upgrade -y
# #     #- cat /etc/os-release
# #     - ruby -v
# #     - php -v
# #     - java -version
# #     - ps auxfww
# #     #- sleep 600
# # #    - pip install --disable-pip-version-check --user six flake8 hacking
