# os: osx
# language: generic
# script:
# - brew info
# - brew update
# - brew info

# language: bash
# arch:
#   - amd64
#   - arm64
# install: skip
# script: skip
# cache:
#   directories:
#     - foo
   
language: python
python:
  - "3.8.0"
install: skip
script:
- python -V
#- python ./src/hello.py
matrix:
  include:
    - arch: arm64
      os: linux
      name: xenial
    - arch: amd64
      os: linux
      name: xenial
    - arch: arm64
      os: linux
      dist: bionic
      name: bionic
    - arch: amd64
      os: linux
      dist: bionic
      name: bionic
